language: python
python:
  - "2.7"
  - "3.4"
install: pip install --use-mirrors -r requirements.txt
script:  python -m doctest -v test/test.rst
notifications:
  email:
    on_success: always
    on_failure: always
